<div class="page-header">
    <h1>{{pageTitle}}<small>{{game?.releaseDate}}</small></h1>
</div>

<div class="container">
    <div class="row bottom10">
        
        <div class="col-md-6">
            <img src="{{game?.smallImageUrl}}" width="520" />
        </div>

        <div class="col-md-6">
            
                <div class="well">
                    <strong>ISIN:</strong> {{game?.isin}}
                    <strong>platform:</strong> {{game?.platform}}
                    <strong>Publisher:</strong> {{game?.publisher}}                    
                    <strong>Genre:</strong> {{game?.genre}}
                    <strong>Age Rating:</strong> {{game?.ageRating}}
                </div>
                
                <div class="well">
                    <strong>Comments</strong>
                </div>
        </div>
        
    </div>
</div>
