<!DOCTYPE html>
<html>
  <head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ausmaq Operation Portal</title>
    <base href="/">

  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/styles/bootfly.css">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/styles/main.css">
  </head>
  <body>

    <app>
      Loading...
    </app>

  </body>
</html>