

.navbar .input-append input[type=text] {
    background-color:#313146;
    border-color:transparent;
    font-size:12px;
    color:#eee;
    border-radius:0;
    box-shadow:0 0;
}

.navbar .input-append .btn {
    border-radius:0;
}

.navbar .btn {
    background-color:#535368;
    background-image:none;
    border-color: transparent;
    color: #e6e6e6;
    text-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.navbar .btn:hover {
    color:#f2f2f2;
    background-color:#313146;
}

form.dropdown-login{margin:0 0 20px;}

.navbar select,textarea,input[type="text"],input[type="password"] {
    margin-bottom:10px;
}

.row .bottom10 {
    margin-bottom: 10px;
}