<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3 class="text-center">Become a new user</h3>
            <div class="panel-body">
                <form [ngFormModel]="regForm">
                    <fieldset>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email" [(ngModel)]="userEmail" required
                                [ngFormControl]="username">                          
                            <!--<i *ngIf="username.pending" class="glyphicon glyphicon-refresh"></i>-->
                            <div *ngIf="username.dirty && !username.valid && !username.pending" class="alert alert-danger">
                                <p *ngIf="username.errors.required">Username is required.</p>
                                <p *ngIf="username.errors.email">Username is not valid email address.</p>
                                <p *ngIf="username.errors.startsWithNumber">Your username can't start with a number</p>
                                <p *ngIf="username.errors.usernameTaken">This username is taken</p>
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="Password" name="password" 
                                value="" type="password" [(ngModel)]="password" required
                                [ngFormControl]="pw">
                            <!--<div [hidden]="pw.valid || pw.pristine" class="alert alert-danger">
                                Password is required
                            </div>-->
                            <div *ngIf="pw.dirty && !pw.valid && !username.pw" class="alert alert-danger">
                                <p *ngIf="pw.errors.required">password is required.</p>
                                <p *ngIf="pw.errors.minlength">password minium length is 3.</p>
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="Confirm Password" 
                                name="password" value="" type="password" [(ngModel)]="confirmPassword" required
                                [ngFormControl]="confirmpw">
                            <div *ngIf="regForm.hasError('mismatchedPasswords')" class="alert alert-danger">
                                    Passwords do not match.
                            </div>                                                
                        </div>
                        <div class="checkbox">
                            <label>
                                    <input name="terms" type="checkbox">I have read and agree to the <a href="#">terms of service</a>
                                </label>
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" [disabled]="!regForm.valid" (click)="register()" value="Register">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>