<div class="container">
    <h3>{{pageTitle}}</h3>

    <div class="stepwizard col-md-offset-3">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a type="button" class="btn btn-circle" [class.btn-primary]="currentPage == 1" [class.btn-default]="currentPage != 1" (click)="currentPage = 1">1</a>
                <p>Step 1</p>
            </div>
            <div class="stepwizard-step">
                <a type="button" class="btn btn-circle " [class.btn-primary]="currentPage == 2" [class.btn-default]="currentPage != 2" (click)="currentPage = 2">2</a>
                <p>Step 2</p>
            </div>
            <div class="stepwizard-step">
                <a type="button" class="btn btn-circle" [class.btn-primary]="currentPage == 3" [class.btn-default]="currentPage != 3" (click)="currentPage = 3">3</a>
                <p>Step 3</p>
            </div>
        </div>
    </div>



    <div class="row setup-content" id="step-1" *ngIf="currentPage == 1">
        <div class="col-xs-6 col-md-offset-3">
            <form class="form-horizontal" role="form">
                <fieldset>
                    <legend>Amount to pay: {{card.amount / 100 | currency:'AUD':true:'1.2-2'}}</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name" [(ngModel)]="card.name"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number" [(ngModel)]="card.number"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-xs-3">
                                    <select class="form-control col-sm-2" name="expiry-month" id="expiry-month" [(ngModel)]="card.expiry_month" required>
                                        <option value="" disabled selected>month</option>
                                        <option *ngFor="let m of months" value="{{m}}">{{m}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <select class="form-control" name="expiry-year" placeholder="Year" [(ngModel)]="card.expiry_year" required>
                                        <option value="" disabled selected>year</option>
                                        <option *ngFor="let y of years" value="{{y}}">{{y}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code" [(ngModel)]="card.cvv" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary pull-right" (click)="next()">
                                Next <i class="glyphicon glyphicon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


    <div class="row setup-content" id="step-2" *ngIf="currentPage == 2">
        <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    <fieldset>
                        <legend>Fill your billing address</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_line1">Address line 1</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="address_line1" id="address_line1" placeholder="Address line 1" [(ngModel)]="card.address_line1"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_line2">Address line 2</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="address_line2" id="address_line2" placeholder="Address line 2" [(ngModel)]="card.address_line2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_city">Suburb</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="address_city" id="address_city" placeholder="Suburb" [(ngModel)]="card.address_city"
                                    required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_state">State</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select class="form-control col-sm-4" name="address_state" id="address_state" [(ngModel)]="card.address_state" required>                                        
                                        <option *ngFor="let st of states" value="{{st}}">{{st}}</option>
                                    </select>
                                    </div>

                                    <div class="col-xs-8">

                                        <label class="col-sm-4 col-sm-offset-2 control-label" for="address_postcode">Postcode</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control pull-right" name="address_postcode" id="address_postcode" placeholder="Postcode" [(ngModel)]="card.address_postcode"
                                                required>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button class="btn btn-primary" type="button" (click)="prev()">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Prev
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary pull-right" (click)="next()">
                                    Next <i class="glyphicon glyphicon-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>


    <div class="row setup-content" id="step-3" *ngIf="currentPage == 3">
        <div class="col-xs-6 col-md-offset-3">
            <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    <fieldset>
                        <legend>Confirmation your payment detail</legend>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_line1">Amount</label>
                            <label class="col-sm-7 control-label" for="address_line1">{{card.amount/100 | currency:'AUD':true:'1.2-2'}}</label>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_line1">Name</label>
                            <label class="col-sm-7 control-label" for="address_line1">{{card.name}}</label>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_line1">Card Number</label>
                            <label class="col-sm-7 control-label" for="address_line1">{{card.number}}</label>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_line1">Expiry</label>
                            <label class="col-sm-7 control-label" for="address_line1">{{card.expiry_month}} / {{card.expiry_year}}</label>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_line1">Address line 1</label>
                            <label class="col-sm-7 control-label" for="address_line1">{{card.address_line1}}</label>
                        </div>

                        <div class="form-group" *ngIf="card.address_line2 != ''">
                            <label class="col-sm-3 control-label" for="address_line1">Address line 2</label>
                            <label class="col-sm-7 control-label" for="address_line1">{{card.address_line2}}</label>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address_line1"></label>
                            <div class="col-sm-7">
                                <label class="col-sm-6 control-label" for="address_line1">
                                {{card.address_city}}
                            </label>
                                <label class="col-sm-3 control-label" for="address_line1">
                                {{card.address_state}} 
                            </label>
                                <label class="col-sm-3 control-label" for="address_line1">
                                {{card.address_postcode}}
                            </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button class="btn btn-primary" type="button" (click)="prev()">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Prev
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-success pull-right" (click)="paynow()">
                                    <i class="glyphicon glyphicon-credit-card"></i> Pay Now 
                                </button>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                {{payment_result}}
                            </div>
                        </div>
                        
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>